doctype html
html(lang="en-US")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title About Me 
        link(rel="stylesheet", href="/src/resources/css/style.css")
        link(rel="icon", href="/src/resources/img/logo_no_cc.png", type="image/png")
        nav 
            a(href="/dist/index.html" id="react") 
                img(id="logo", src="/src/resources/img/logo_no_cc.png", alt="Moondai LOGO", draggable="false")
            ul(id="action")
                li 
                    a(href="/dist/music.html") Music
                li 
                    a(href="/dist/about.html") About
                li 
                    a(href="/dist/contact.html") Contact
    script(src="/src/js/main.js") 